{% extends "layout.html.twig" %}
{% block content %}
        <link href="{{ asset('css/connexion.css') }}" rel="stylesheet" type="text/css" />
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mb-3">
      <span class="glyphicon glyphicon-user"></span>
    </div>

    <!-- Login Form -->
    <form method="post" action="checklogin" class="mt-2 mb-1">
      <input type="text" id="login" class="fadeIn second" name="name" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <select name="auth" class="fadeIn third">
      <option value="ldap">LDAP</option>
      <option value="bdd">Base de données</option>
      </select><br>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
{% endblock %}