<footer class="footer" style=" position: fixed; bottom: 0; background-color:#f6f6f6; width:100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>@Copyright</p>
            </div>
        </div>
    </div>