{% extends "layout.html.twig" %}
{% block content %}
    Welcome to your new Silex Applications!
	<form method="post" action="ajoutmessage">
	<textarea name="message"></textarea>
	<input type="submit"/>
	</form>
{% endblock %}
